//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------

@mixin btn {
	appearance: none;
	background-color: $color-btn;
	border: none;
	border-width: 0;
	color: $color-button-text;
	font-family: $font-sans;
	font-size: $type-xsmall;
	font-weight: 300;
	letter-spacing: 0.05rem;
	padding: $shim-half $shim;
	text-transform: uppercase;
	transition: all 300ms;

	&:hover,
	&:active,
	&:focus {
		background-color: $green;
		background-image: linear-gradient(to bottom, $green 0, darken($green, 10%) 100%);
	}
}

// button,
// button[type="button"],

// button[type="reset"],
// button[type="submit"] {

// 		@include btn;
// 	}
// }

button:not(.ap-actions-handle) {
	@include btn;
	border-width: 0;
	border-radius: $border-radius;
}

@mixin btn-link {
  color: $color-link;
	font-family: $font-sans;
	font-size: $type-small;
	font-weight: 700;

  &:hover {
    color: $color-link-hover;
  }
}



.ap-actions-handle {
	align-items: center;
  background-color: $color-link;
  border-radius: 1rem;
	border-width: 0;
  color: $color-background;;
  display: flex;
	padding: $shim-half;
	transition: border-radius 0.1s ease-in-out;

	&:hover {
		background-color: $color-link-hover;
	}

	&.loaded {
		border-radius: 0;
	}
}



.mce-btn {
	button {
		background-color: initial;
		//margin: 0;
	}
}

