//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	appearance: none;
	background-color: $color-btn;
	border: none;
	border-radius: 0;
	border-width: 0;
	color: $color-button-text;
	line-height: 1.5;
	margin: 0;
	padding: $padding-input;

	// IE 11 helper.
	.ie & {
		height: 2.1875rem;
	}

	&:hover,
	&:active,
	&:focus {
		background-color: $color-btn-hover;
	}
}
