//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

//--------------------------------------------------------------
// Posts and Pages
//--------------------------------------------------------------

// Entry Title
@mixin pagetitle {
	font-family: $font-headlines;
	font-size: $type-h2;
	line-height: 1.3;

	@include above(bp-small) {
    font-size: $type-h1;
  }
}

@mixin subtitle {
	font-family: $font-headlines;
	font-size: $type-h3;
	line-height: 1.3;

	@include above(bp-small) {
    font-size: $type-h2;
  }
}

.entry-title {
	@include pagetitle;
}

.related-title {
	@include subtitle;
	font-weight: 300;
	margin-bottom: $shim-half;
}

// Sticy and Comments Link
.sticky,
.comments-link {
	display: block;
}

// hentry
.hentry {
	margin: 0 0 1.5rem 0;
}

// Byline and update post date
.byline,
.updated:not(.published) {
	display: none;
}

// Byline for single and group
.single .byline,
.group-blog .byline {
	display: inline;
}

// Page content, entry content and entry summary
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5rem 0 0;
}

// Page links
.page-links {
	clear: both;
	margin: 0 0 1.5rem 0;
}

// Edit link
.edit-link {
	background-color: $gray-light;
	font-size: $type-meta;
	margin: $shim 0;
	padding: $shim-half $shim;

	a {
		color: $color-text;
	}
}

// Asides
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}
