//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

.site-header {
	align-items: center;
	background-image: linear-gradient(90deg, $purple-dark 0%, $pink-dark 20%, $pink 50%, $pink-dark 80%, $purple-dark 100%);
	padding-top: $shim-half;
	padding-bottom: $shim-half;

	@include above(bp-small) {
		padding-bottom: $shim-double;
		padding-top: $shim-double;
	}

	a {
		&:link,
		&:visited {
			color: $color-inverted-nav;
		}

		&:hover,
		&:focus,
		&:active {
			color: $color-inverted-nav-hover;
		}
	}
}

.site-branding {
	padding-left: $shim;
	padding-right: $shim;

	@include below(bp-small) {
		flex-basis: 100%;
		margin: 0 auto;
		position: relative;
	}

	@include above(bp-small) {
		left: 50%;
		position: absolute;
		right: auto;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

// Site Title
.site-title {
	color: $color-background;
	font-family: $font-main;
	font-size: 3rem;
	line-height: 33px;
	margin: 0 auto;

	svg {
		fill: $color-background;
		max-height: 29px;
    max-width: 210px;
	}
}

.icon-logo {
	max-height: 41px;
	max-width: 300px;
}

// Site Description
.site-description {
	color: $color-background;
	font-family: $font-sans;
	font-size: 1rem;
	font-weight: 300;
	margin: 0 auto;
}

.sidebar-menu {
	align-items: center;
	display: flex;
	-webkit-font-smoothing: antialiased;
	justify-content: center;
	right: 0;
	top: 0;
	transition: width 1s ease-out;
	width: 2.5rem;
	z-index: 2;

	@include above(bp-menuopen) {
		width: $sidebar-width-large;
		display: none;
	}

	.icon {
		fill: $white;
		height: $shim;
		transform: rotate(0deg);
		transition: transform $ttime ease-out;
		width: $shim;
	}

	&.open {
		width: $sidebar-width-large;

		.icon {
			transform: rotate(180deg);
		}
	}
}

button.sidebar-menu {
	background-image: none;
	border-radius: 0;
	padding: $shim-half + $shim-quarter;
	position: fixed;

	&:hover {
		background-color: $color-link-hover;
	}
}
