//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

// Site Title
.site-title {
	font-size: 3rem;
}

// Site Description
.site-description {
	font-size: 1.5rem;
	margin: 0 0 1.5rem 0;
}
