//--------------------------------------------------------------
// Login
//--------------------------------------------------------------

.wp-social-login-widget {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.ap-login-buttons {
	text-align: center;
}

