//--------------------------------------------------------------
// Login
//--------------------------------------------------------------

.wp-social-login-widget {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.ap-login-buttons {
	text-align: center;
}

.custom-login-content {
	margin: auto;
	max-width: $content-column;
	padding: $gutter;

	.button-primary {
		@include btn;
	}
}
