//--------------------------------------------------------------
// Mobile Navigation
//--------------------------------------------------------------

// Fix scrolling on the entire body when the more menu is visible
.mobile-menu-more {
  overflow: hidden;
}

// Fix the menu to the bottom of the window
.mobile-nav-menu {
  background-color: $color-link;
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  transition: background-color 0.2s linear, width 0.2s linear;
  width: 0;

  // Don't show  above small
  @include above(bp-small) {
    display: none;
  }

  li {
    cursor: pointer;
  }
}



// Only target the parent menu
.mobile-nav {
  align-items: flex-end;
  background-color: $pink;
  display: flex;
  justify-content: space-between;
  width: 100vw;

  // Only target top-level items
  > li {
    flex: 1 0 auto;
    margin: 0;
    transition: opacity 0.5s ease;


    a {
      color: $color-background;
      display: block;
      padding: $shim-half $shim;
      text-align: center;

      // incase on small window with mouse
      &:hover {
        background-color: $color-link-hover;
      }

      span {
        display: block;
      }
    }
  }
}
