//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links
a {
  color: $color-link;

  &:visited {
    color: $color-link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-link-hover;
  }
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

// Default menu (active after a fresh WordPress install)
.menu {
  display: flex;

  // Menu hyperlinks
  a {
    display: flex;
    font-family: $font-sans;
    padding: $shim-half $shim;
    text-decoration: none;
  }
}

// Main navigation (after creating a menu in the dashboard)
.main-navigation {
  display: none;

  div {
    display: flex;

  }
  // Menu area
  ul {
    display: none;

    @include above(bp-small) {
      display: flex;
      justify-content: center;
    }
  }

  &.toggled ul {
    display: flex;
  }

  @include above(bp-small) {
    display: flex;
  }
}

// Small menu
.menu-toggle {
  display: flex;

  @include above(bp-small) {
    display: none;
  }
}

// Navigation on Comment, Post and Posts
.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5rem 0;
    overflow: hidden;
  }

  &.nav-previous {
    float: left;
    width: 50%;
  }

  &.nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
