//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links
a {
  color: $color-link;

  &:visited {
    color: $color-link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-link-hover;
  }
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

// Default menu (active after a fresh WordPress install)
.menu {
  display: flex;

  // Menu hyperlinks
  a {
    display: flex;
    font-family: $font-sans;
    padding: $shim-half $shim;
    text-decoration: none;
  }
}

// Main navigation (after creating a menu in the dashboard)
.main-navigation {
  display: none;

  div {
    display: flex;
  }

  // Menu area
  ul {
    display: none;

    @include above('bp-small') {
      display: flex;
      justify-content: center;
    }
  }

  &.toggled ul {
    display: flex;
  }

  @include above('bp-small') {
    display: flex;
  }
}

// Small menu
.menu-toggle {
  display: flex;

  @include above('bp-small') {
    display: none;
  }
}

// Navigation on Comment, Post and Posts
.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5rem 0;
    overflow: hidden;
  }

  &.nav-previous {
    float: left;
    width: 50%;
  }

  &.nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}


/* Effect 13: three circles */
.main-navigation {
  a {
    position: relative;
	  transition: color 0.3s;

    &::before {
      color: transparent;
      content: '•';
      font-size: $type-meta;
      left: 50%;
      pointer-events: none;
      position: absolute;
      text-shadow: 0 0 transparent;
      top: 70%;
      transition: text-shadow 0.3s, color 0.3s;
      transform: translateX(-50%);
    }

    &:hover::before,
    &:focus::before {
      color: $color-background;
      text-shadow: 16px 0 $color-background, -16px 0 $color-background;
    }

    &:hover,
    &:focus {
      color: $color-inverted-nav-hover;
    }
  }

  .current-menu-item {
    a {
      &::before {
        color: $color-inverted-nav;
        text-shadow: 10px 0 $color-inverted-nav, -10px 0 $color-inverted-nav;
      }

      &:hover::before,
      &:focus::before {
        color: $color-background;
        font-size: $type-meta;
        text-shadow: 16px 0 $color-background, -16px 0 $color-background;
      }
    }
  }
}

.logged-in {
  .login-link,
  .register-link {
    display: none;
  }
}

body:not(.logged-in) {
  .logout-link {
    display: none;
  }
}

// .main-navigation a {
//   background-image: linear-gradient(to right, #AA076B 0%, #61045F 51%, #AA076B 100%);

//   &:hover {
//     background-position: right center;
//   }
// }

.anspress-menu-notifications a {
	display: flex;
}
