//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links
a {
  color: $color-link;

  &:visited {
    color: $color-link-visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color-link-hover;
  }
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

// Default menu (active after a fresh WordPress install)
.menu {
  display: flex;

  &.dropdown {

    // Sub-menu
    ul {
      float: left;
      left: -999rem;
      position: absolute;
      width: 2rem;
      z-index: 99999;

      // Sub-sub menu
      ul {
        left: -999em;
        top: 0;
      }

      // Sub-menu items
      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      // Sub-menu links
      a {
        width: 10rem;
      }

      &:hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    // Display sub-menu on hover
    li:hover > ul,
    .focus > ul {
      left: auto;
    }

    // Menu items
    li {
      float: left;
      position: relative;

      &:hover > a,
      &.focus > a {
      }
    }
  }

  // Menu hyperlinks
  a {
    display: block;
    padding: $shim-half $gutter;
    text-decoration: none;
  }

  // Current items
  .current_page_item a,
  .current-menu-item a {
  }
}

// Main navigation (after creating a menu in the dashboard)
.main-navigation {
  display: none;

  div {
    display: flex;

  }
  // Menu area
  ul {
    display: none;

    @include above(bp-small) {
      display: flex;
      justify-content: center;
    }
  }

  &.toggled ul {
    display: flex;
  }

  @include above(bp-large) {
    display: flex;
  }
}

// Small menu
.menu-toggle {
  display: flex;

  @include above(bp-small) {
    display: none;
  }
}

// Navigation on Comment, Post and Posts
.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5rem 0;
    overflow: hidden;
  }

  &.nav-previous {
    float: left;
    width: 50%;
  }

  &.nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
