//--------------------------------------------------------------
// Search Form
//--------------------------------------------------------------

// Links

.search-form {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  @include above('bp-small') {
    margin: 0;
    width: auto;
  }

  .home & {
    box-shadow: $shim-quarter $shim-quarter $shim-half $shadow-dark;
    margin-left: auto;
    margin-right: auto;

    @include above('bp-small') {
      width: auto;
    }

    @include above('bp-large') {
      margin-bottom: $gutter;
      margin-left: auto;
      margin-right: auto;
      width: 50vw;
    }
  }
}

.search-field {
  flex: 1 1 auto;
  margin: 0;
	padding: $shim-half $shim;

  .home & {
    font-size: $type-h4;
    padding: $shim;
  }

  .site-header & {
    background-color: hsla(320, 40%, 70%, .2);
    border-color: hsla(320, 20%, 90%, .3);
    color: $gray-light;
    padding: $shim-half;

    &:focus {
      background-color: rgba($green, 0.5);
      color: $color-background;
    }
  }
}

.site-header {
  input {
    &::placeholder {
      color: $gray-light;
    }

    &:focus::placeholder {
      color: $color-background;
    }
  }
}

.search-submit {
  flex: 0 0 auto;
  border-radius: 0;
}

button[type="submit"] {
  &.search-submit {
    margin: 0;
  }
}
