//--------------------------------------------------------------
// Sliding Sidebar
//--------------------------------------------------------------



/* General styles for all sidebars */
.sidebar {
	padding: $shim;

	ul {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	.logged-out & > .secondary-menu:first-child {
		padding-top: $gutter;
	}
}

.menu-sidebar-container {
	display: flex;
	font-size: $type-xsmall;
	margin: 0;
	padding: 0;

	a {
		justify-content: center;
	}
}

.menu-sidebar {
	margin: 0 0 $gutter;
	padding: 0;
}

.avatar-sidebar {
	display: block;
	text-align: center;
}

.profile-preview {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: $gutter;

	.avatar {
		border: 5px solid $white;
		height: $avatar-height * 1.5;
		margin-bottom: $shim;
		text-align: center;
		width: $avatar-height * 1.5;
	}
}

.profile-text {
	align-items: center;
	color: $color-background;
	display: flex;
	flex-direction: column;
	line-height: 1.2;
	margin-bottom: 0;
}

.profile-name {
	color: $purple-light;
	flex: 1 1 100%;
	font-size: $type-h3;
}

.sidebar-vertical {
	background-color: $sidebar-bg;
	bottom: 0;
	color: $white;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: absolute;
	text-align: center;
	top: 0;
	width: $sidebar-width-large;
	z-index: 1;

	a {
		color: $pink-light;

		&:hover,
		&:focus {
			color: $green-light;
		}
	}
}


/* Vertical sidebar that slides from the left or right */

.sidebar-right {
	right: $sidebar-width-large-negative;

	@include above(bp-menuopen) {
		right: 0;
	}

	&.open {
		right: 0;
	}
}

.sidebar-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.site-content {
	@include above(bp-menuopen) {
		margin-left: 0;
		width: calc(100% - #{$sidebar-width-large});
	}

	.sidebar-push-toleft & {
		margin-left: 0;
		width: 100%;

		@include above(bp-small) {
			width: calc(100% - #{$sidebar-width-large});
		}
	}
}

/* Transitions */

.sidebar,
.sidebar-right {
	transition: all 0.3s ease;
}
