//--------------------------------------------------------------
// Sliding Sidebar
//--------------------------------------------------------------



/* General styles for all sidebars */
.sidebar {
	background-color: $color-background;
	padding: $shim;

	ul {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
}

.menu-sidebar-container {
	display: flex;
	font-size: $type-xsmall;
	margin: 0;
	padding: 0;

	a {
		justify-content: center;
	}
}

.menu-sidebar {
	margin: 0 0 40px;
	padding: 0;
}

.avatar-sidebar {
	display: block;
	text-align: center;
}

.profile-preview {
	align-items: center;
	display: flex;
	flex-direction: column;

	.avatar {
		height: $avatar-height * 1.5;
		margin-bottom: $shim;
		text-align: center;
		width: $avatar-height * 1.5;
	}
}

.profile-text {
	align-items: baseline;
	color: $purple-dark; //$color-background;
	line-height: 1.2;
	margin-bottom: 0;
}

.profile-name {
	color: $purple;
	flex: 1 1 100%;
	font-size: $type-h3;
}

/* Orientation-dependent styles for the content of the sidebar */
$admin-bar: 32px;
$admin-bar-mobile: 46px;
$header-height: 75px;
$header-height-large: 104px;
$sidebar-width-small: 50%;
$sidebar-width-large: 200px;


.sidebar-vertical {
	height: 100%;
	position: fixed;
	text-align: center;
	z-index: 1000;

	@include below(bp-small) {
		box-shadow: 0 7px 5px $shadow-dark;
		top: $header-height;
		width: $sidebar-width-small;
	}

	@include above(bp-small) {
		top: $header-height-large;
		width: $sidebar-width-large;
	}

	.admin-bar & {
		top: $admin-bar-mobile + $header-height;

		@include above(bp-small) {
			top: $admin-bar-mobile + $header-height-large;
		}

		@include above(wp-admin-bar) {
			top: $admin-bar + $header-height-large;
		}
	}
}


/* Vertical sidebar that slides from the left or right */

.sidebar-right {
	right: $sidebar-width-small * -1;

	@include above(bp-small) {
		right: $sidebar-width-large * -1;
	}
}

.sidebar-right.sidebar-open {
	right: 0;
}

.sidebar-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

// .sidebar-push-toleft-initial {
// 	@include below('bp-small') {
// 		.sidebar-right {
// 			right: $sidebar-width-small * -1;
// 		}

// 		.site-content {
// 			margin-left: 0;
// 			width: 100%;
// 		}
// 	}
// }

.sidebar-push-toleft {
	.site-content {
		margin-left: 0;
		width: 100%;

		@include above(bp-small) {
			width: calc(100% - #{$sidebar-width-large});
		}
	}
}

/* Transitions */

.sidebar,
.sidebar-push {
	transition: all 0.3s ease;
}

