//--------------------------------------------------------------
// Sliding Sidebar
//--------------------------------------------------------------

/* General styles for all sidebars */
.sidebar {
	//background: $purple;
	padding: $shim;

	ul {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}

	.widget {
		border-bottom: solid 1px $color-border-light;
		margin-bottom: $shim;
		padding-bottom: $shim;
	}
}

.menu-sidebar-container {
	a {
		justify-content: center;
	}
}

.avatar-sidebar {
	display: block;
	text-align: center;
}

.profile-preview {
	align-items: center;
	display: flex;
	flex-direction: column;

	.avatar {
		height: $avatar-height * 1.5;
		margin-bottom: $shim;
		text-align: center;
		width: $avatar-height * 1.5;
	}
}

.profile-text {
	align-items: baseline;
	color: $purple-dark; //$color-background;
	line-height: 1.2;
	margin-bottom: 0;
}

.profile-name {
	color: $purple;
	flex: 1 1 100%;
	font-size: $type-h3;
}

/* Orientation-dependent styles for the content of the sidebar */
$admin-bar: 32px;
$admin-bar-mobile: 46px;
$header-height: 104px;
$sidebar-width-small: 140px;
$sidebar-width-large: 200px;


.sidebar-vertical {
	height: 100%;
	position: fixed;
	text-align: center;
	top: $header-height;
	width: $sidebar-width-small;
	z-index: 1000;

	@include above(bp-small) {
		width: $sidebar-width-large;
	}

	.admin-bar & {
		top: $admin-bar-mobile + $header-height;

		@include above(wp-admin-bar) {
			top: $admin-bar + $header-height;
		}
	}
}


/* Vertical sidebar that slides from the left or right */

.sidebar-right {
	right: $sidebar-width-small * -1;

	@include above(bp-small) {
		right: $sidebar-width-large * -1;
	}
}

.sidebar-right.sidebar-open {
	right: 0;
}

.sidebar-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}


.sidebar-push-toleft {
	.site-content {
		margin-left: 0;
		width: calc(100% - #{$sidebar-width-small});
	}

	@include above(bp-small) {
		.site-content {
			width: calc(100% - #{$sidebar-width-large});
		}
	}
}

/* Transitions */

.sidebar,
.sidebar-push {
	transition: all 0.3s ease;
}

