//--------------------------------------------------------------
// Tables
//--------------------------------------------------------------

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  width: 100%;

  thead {
    display: none;

    @include above(bp-small) {
      display: table-row-group;
    }
  }

  th,
  td {
    padding: $shim-half;

    @include above(bp-small) {
      display: table-cell;
    }
  }

  th {
    @include above(bp-small) {
      display: table-cell;
    }
  }

  tr {
    display: block;
    margin-bottom: $shim-half;
    text-align: left;

    @include above(bp-small) {
      display: table-row;
      margin-bottom: 0;
    }
  }

  td {
    border: 1px solid $color-border;
    border-bottom: 0;
    display: block;

    &:last-child {
      border-bottom: 1px solid $color-border;
    }

    &::before {
      content: "";
      float: left;
      font-weight: 700;
    }
  }

  @include above(bp-small) {
    border: 1px solid $color-border;
  }

  &.form-table,
  &.tml-form-table {
    td {
      border-color: transparent;

      &:last-child {
        border-color: transparent;
      }
    }

    tr,
    label {
      font-size: $type-small;
    }

    th {
      padding: $shim 0 0 0;
    }

    td {
      padding: 0 0 $shim 0;
    }
  
    @include above(bp-small) {
      border-color: transparent;
    }

    .pw-weak {
      margin-top: $shim;
    }
  }
}

table.form-table > tbody > .acf-field > .acf-label label {
	color: $color-text-light;
	font-family: $font-sans;
	font-size: $type-small;
	font-weight: 700;
}

#your-profile {
  p:first-of-type,
  h3:first-of-type,
  .tml-form-table:first-of-type {
    display: none;
  }
}
