//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure.

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

@mixin wrap {
	@include pad;
	margin-left: auto;
	margin-right: auto;
}

.site {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-start;
	min-height: 97vh;
	min-height: 100%;
}

.site-header {
	@include pad;
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	text-align: center;

	@include above(bp-small) {
		justify-content: space-between;
	}
}

.site-content {
  @include wrap;
  align-items: stretch;
  display: flex;
	flex: 1 0 auto;
	flex: 1 0 100%;
	height: 100%;
	width: 100%;
}

.content-area {
	width: 100%;
}

.site-footer {
	@include pad;
  display: flex;
  flex: 0 0 auto;

	@include below(bp-small) {
		padding-bottom: $gutter;
	}
}

.entry-content > *:not(img):not(video):not(table):not(iframe) {
	margin-left: auto;
	margin-right: auto;
}
