//--------------------------------------------------------------
// Media Query Breakpoints
//--------------------------------------------------------------

/// Media Query Breakpoints
/// @group yoga
$breakpoints: (
  large-desktop: 100rem,
  desktop: 85rem,
  tablet-landscape: 64rem,
  wp-admin-bar: 48.9375rem,
  tablet-portrait: 48rem,
  phone-landscape: 40rem,
  phone-portrait: 22.5rem,
);


$large-desktop: 100rem;
$desktop: 85rem;
$tablet-landscape: 64rem;
$wp-admin-bar: 48.9375rem;
$tablet-portrait: 48rem;
$phone-landscape: 40rem;
$phone-portrait: 22.5rem;
