//--------------------------------------------------------------
// Media Query Breakpoints
//--------------------------------------------------------------

/// Media Query Breakpoints
/// @group yoga
$breakpoints: (
  bp-large: 64rem,
  wp-admin-bar: 48.9375rem,
  tablet-portrait: 48rem,
  bp-medium: 50rem,
  bp-small: 40rem,
  bp-menuopen: 1280px,
);



$bp-large: 64rem;
$wp-admin-bar: 48.9375rem;
$tablet-portrait: 48rem;
$bp-small: 40rem;
$bp-menuopen: 1280px;
