//--------------------------------------------------------------
// Grid Settings
//--------------------------------------------------------------

// General Spacing
$gutter: 3rem;
$shim: 1rem;
$shim-half: $shim / 2;
$shim-quarter: $shim / 4;

// Element SPecific
$border-radius: 2px;

// Forms
$padding-input: 0.375rem;

// Avatar
$avatar-height: 50px;

// inline list item padding
$inline-nav-pad: $shim-half $shim;
