//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------
$font-special: "Baloo Bhaina", sans-serif;
$font-headlines: Martel, Georgia, serif;
$font-main: Rasa, Georgia, serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;

$line-height-body: 1.625;
$line-height-pre: $line-height-body;


// Change scale

$mod_1: 1.067;
$mod_2: 1.33;


// Calculate Modular Scale

$h1-min: $mod_1*$mod_1*$mod_1*$mod_1 * 1rem;
$h1-max: $mod_2*$mod_2*$mod_2*$mod_2 * 1rem;

$h2-min: $mod_1*$mod_1*$mod_1 * 1rem;
$h2-max: $mod_2*$mod_2*$mod_2 * 1rem;

$h3-min: $mod_1*$mod_1 * 1rem;
$h3-max: $mod_2*$mod_2 * 1rem;

$h4-min: $mod_1* 1rem;
$h4-max: $mod_2 * 1rem;

$h5-min: 1rem;
$h5-max: 1rem;

$h6-min: (1rem / $mod_1);
$h6-max: (1rem / $mod_2);
