//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------
$font-special: "Baloo Bhaina", sans-serif;
$font-headlines: Martel, Georgia, serif;
$font-main: Rasa, Georgia, serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;

$line-height-body: 1.5;
$line-height-pre: $line-height-body;
