//--------------------------------------------------------------
// Widgets
//--------------------------------------------------------------

.widget {
	margin: 0 0 $shim;

	p:last-child {
		margin-bottom: 0;
	}

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}

	.sidebar & {
		border-bottom: solid 1px $color-border-light;
		margin-bottom: $shim;
		padding-bottom: $shim;

		&:last-child {
			border-bottom: 0;
			margin-top: auto;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

// Search widget
.widget_search .search-submit {
	display: none;
}
